<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
</head>
<body>
    <h1>Login Page</h1>
    <form method="post" action="{{url_for('login')}}">
        <input name="username" placeholder="Username" required><br><br>
        <input name="password" type="password" placeholder="Password" required><br><br>
        <button type="submit">Submit</button>
    </form>
    <br><br>
    <button>
    <a href="{{url_for('reset_password')}}">Reset Password</a></button>
    <br><br>
    <a href="{{url_for('register')}}">Don't have an account? Register here</a>
</body>
</html>
