<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Password Page</title>
</head>
<body>
    <h1>Reset Password Page</h1>
    <form method="post" action="{{url_for('reset_password')}}">
        <input name="username" placeholder="Username" required>
        <br><br>
        <input name="new_password" type="password" placeholder="New Password" required>
        <br><br>
        <input name = "confirm_password" type = "password" placeholder="Confirm Password" required>
        <br><br>
        <button onclick="register" type="submit">Save Password</button>
    </form>
    <br><br>
    <button>
        <a href="{{url_for('login')}}">Login</a>
    </button>
</body>
</html>
